* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*---app-css*/

.app-container {
  background-color: #f5d0fe;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-div {
  background-color: #ffffff;
  width: 400px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-element {
  padding: 8px;
  height: 38px;
  margin: 8px;
}
.button {
  width: 100px;
  height: 38px;
  color: #ffffff;
  background-color: #d946ef;
  border: none;
  outline: none;
  border-radius: 8px;
}
.user-edit-div {
  display: flex;
  align-items: center;
}
.para {
  margin: 16px;
}
